In [ ]:
import numpy as np
import pandas as pd

#dataframe with list

In [ ]:
student_data = [
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]

pd.DataFrame(student_data,columns=['iq','marks','package'])

#dataframe with dictionary

In [ ]:
student_dict = {
    'name':['nitish','ankit','rupesh','rishabh','amit','ankita'],
    'iq':[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,2,0,0]
}

students = pd.DataFrame(student_dict)
students.set_index('name',inplace=True) #name column became the index column (custom indexing)

#dataframe using CSV

In [ ]:
movies = pd.read_csv('movies.csv')

#dataframe attributes

In [ ]:
movies.shape    #(rows, columns)
movies.dtypes   #dtype of each column (series)
movies.index    #gives us index column
movies.columns  #gives us column names
movies.values   #gives us all values of each column, except for column names

#dataframe methods

In [ ]:
movies.head(2)
movies.tail(2)
movies.sample(2)
movies.info()
movies.describe()

In [ ]:
movies.isnull()  #returns true wherever null found
movies.isnull().sum() #counts true values, as in, null values.

movies.duplicated() #returns true wherever duplicate found
movies.duplicated().sum()

In [ ]:
students.rename(columns={'marks':'percent','package':'lpa'},inplace=True) #just to rename the column names ----> old_val : new_val

#dataframe math methods

In [ ]:
students.sum(axis=0)  #note:- when axis = 0, we are talking about columns. it will give sum of all values of each column. for eg: iq  1200, lpa  1230 and so on
students.mean(axis=1) #axis = 1, hence rowwise mean of all values of a row.
#NOTE:- axis = 0 is by default so even if not specified, the sum will happen for each column unless axis = 1 specified.
#below, in every method, axis = 0 considered.
students.var()
students.std()
students.min()
students.max()
students.median()

#selecting columns from dataframe

In [ ]:
# single cols
movies['title_x']

# multiple cols
movies[['year_of_release','actors','title_x']]

#selecting rows from dataframe

*   iloc
*   loc

In [ ]:
'''
iloc:-
when you want to access the rows using the indexing.
for eg:-
index   Name     Age
dev     Alice    25
bholu   Bob      30
rahul   Charlie  35

students.iloc[2]  means that i am accessing 3rd row.

loc:-
when you want to access rows using index labels.
for eg:-
index   Name     Age
dev     Alice    25
bholu   Bob      30
rahul   Charlie  35

students.loc[dev] gives us rows where index value was dev.

index  Name     Age
2      Alice    25
0      Bob      30
1      Charlie  35

students2.iloc[0] gives first row
students2.loc[0] gives us row where index value is 0, which is the second row.
'''

In [ ]:
movies.iloc[:5]  #first 5 rows
movies.iloc[[0,4,5]] #fancy indexing

students.loc['nitish']
students.loc['nitish':'rishabh':2]
students.loc[['nitish','ankita','rupesh']]  #fancy indexing
students.iloc[[0,3,4]] #so even if custom indexing done in students, where index col is names, we can still use iloc to access rows based on index positions and not index values.

#selecting both, rows and columns

In [ ]:
movies.iloc[0:3,0:3]  #first 3 rows and first 3 columns

movies.loc[0:2,'title_x':'poster_path']  #first 2 rows and columns name as given. that is why, we used loc and not iloc.

#filtering the dataframe

In [ ]:
#basic syntax:- df[filtering series] will filter all rows of df having value as that of series filtered.

#select all rows where match is final
ipl[ipl['MatchNumber'] == 'Final']

# how many super over finishes have occured
ipl[ipl['SuperOver'] == 'Y'].shape[0]  #shape[0] gives number of rows, in other words, count.

# how many matches has csk won in kolkata
ipl[(ipl['City'] == 'Kolkata') & (ipl['WinningTeam'] == 'Chennai Super Kings')].shape[0]

# toss winner is match winner in percentage
(ipl[ipl['TossWinner'] == ipl['WinningTeam']].shape[0]/ipl.shape[0])*100

In [ ]:
#adding new column to the df
movies['Country'] = 'India'

#changing datatypes

In [ ]:
#astype
ipl['ID'] = ipl['ID'].astype('int32')

#value_counts

In [ ]:
marks = pd.DataFrame([
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,70,14],
    [80,70,14]
],columns=['iq','marks','package'])

marks.value_counts()

In [ ]:
#we want all the players who have been 'player of the match' in final and qualifier 1.
ipl = pd.read_csv('ipl-matches.csv')
mask = ipl[(ipl['MatchNumber']=='Final' ) | (ipl['MatchNumber']== 'Qualifier 1')]
mask['Player_of_Match'].value_counts()
#value_counts is somewhat like groupby, where it shows all the unique items from the column/series selected, and simply counts the number of occurences of each unique item.

In [ ]:
# how many matches each team has played
(ipl['Team2'].value_counts() + ipl['Team1'].value_counts()).sort_values(ascending=False)

#Sorting

In [ ]:
students = pd.DataFrame(
    {
        'name':['nitish','ankit','rupesh',np.nan,'mrityunjay',np.nan,'rishabh',np.nan,'aditya',np.nan],
        'college':['bit','iit','vit',np.nan,np.nan,'vlsi','ssit',np.nan,np.nan,'git'],
        'branch':['eee','it','cse',np.nan,'me','ce','civ','cse','bio',np.nan],
        'cgpa':[6.66,8.25,6.41,np.nan,5.6,9.0,7.4,10,7.4,np.nan],
        'package':[4,5,6,np.nan,6,7,8,9,np.nan,np.nan]

    }
)
students.sort_values('name',na_position='first',ascending=False,inplace=True)
'''
so, here, sorting happens to entire df, but on the basis of column 'name', just like order by in MySQL. order here is desc. by default, the nan values are put at last.
but here, the values are put at the front because nan_position is 'first.
'''

#sorting based on multiple columns
movies.sort_values(['year_of_release','title_x'],ascending=[True,False])
#asc based on year_of_release and desc based on title_x

In [ ]:
batsman['batting_rank'] = batsman['batsman_run'].rank(ascending=False) #on the basis of batsman_run
'''
just like rank in mysql. just don't forget to add new column containing ranks.
'''

#unique and nunique

In [ ]:
# unique(series)
temp = pd.Series([1,1,2,2,3,3,4,4,5,5,np.nan,np.nan])
print(temp.unique()) #gives a list of all unique values, including nan
print(temp.nunique()) #counts all unique values, excluding nan

# for dataframe:- need to specify the column/series
ipl['Season'].unique()
ipl['Season'].nunique()

#checking and counting nulls and duplicates

In [ ]:
students.isnull() #null check bool = True returned if null
students.isnull().sum() #counts total number of null values

students.duplicated() #returns true wherever duplicate found
students.duplicated().sum() #counts total number of duplicate values

#deleting nulls and duplicates

In [ ]:
#below both are the same. a row is dropped if even any one column got a null value
students.dropna()
students.dropna(how='any')

#below, only if all columns of a row has null values, that row dropped.
students.dropna(how='all')

#if you want to drop null values from just selected columns, leaving the rest df untouched.
students['name'].dropna()
students[['name', 'marks']].dropna()  #don't forget double square brackets as you are doing fancy indexing

#if you want to drop a whole on the basis of null values in a particular column:-
students.dropna(subset=['name']) #if a row of column 'name' got null, the whole row dropped.
students.dropna(subset=['name', 'marks'])


#drops the row only if it is the complete duplicate of the last row. the last duplicate copy is only kept
marks.drop_duplicates(keep='last')

#drops the entire row if duplicate copy of the first occurence of the below specified 2 columns is found.
vk.drop_duplicates(subset=['City','did_kohli_play'],keep='first')

#filling missing values

In [ ]:
students['name'].fillna('unknown')
students['package'].fillna(students['package'].mean())
students['name'].fillna(method='bfill')
students['name'].fillna(method='ffill')

In [ ]:
#drop
students.drop(index=[0,6]) #drops the first 5 rows
students.drop(columns=['branch','cgpa'],inplace=True) #drops the specified 2 columns

In [ ]:
#apply
def sigmoid(value):
  return 1/1+np.exp(-value)

student['marks'].apply(sigmoid)